<ion-header>
  
  <ion-navbar>
    <ion-title text-left>Senai 5S</ion-title>
  </ion-navbar>
  
</ion-header>
<ion-content style="background-color: #2c3e50;">
    
    <div (click)="expandItem(item)">
      <h2 text-center style="color:white">Planos de ação</h2>
    </div>
    <ion-grid>
      <ion-card >
        <ion-card-header style="background-color: #F3F781; opacity:0.8" (click)="changeShowEvaluationPending()" >
          Pendentes
        </ion-card-header>
        
        <ion-card-content *ngIf="showEvaluationsPending">   
          <ion-list>           
            <ion-item (click)="goToEvaluationResume()">
              <ion-avatar item-start>                     
                <ion-icon name="md-information-circle" style="color: #fae20bf6"></ion-icon>                      
              </ion-avatar>
              <h2>Avaliação pendente</h2>
              <h3>Data limite 10/03/2018 a 15/03/2018</h3>
              <p>Sala 105 - Bloco B</p>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
  
      <ion-card >
          <ion-card-header style="background-color: #F5A9A9; opacity:0.8" (click)="changeShowEvaluationPending()" >
            Atrasados
          </ion-card-header>
          
          <ion-card-content *ngIf="showEvaluationsPending">   
            <ion-list>           
              <ion-item (click)="goToEvaluationResume()">
                <ion-avatar item-start>                     
                  <ion-icon name="md-information-circle" style="color: #fae20bf6"></ion-icon>                      
                </ion-avatar>
                <h2>Avaliação pendente</h2>
                <h3>Data limite 10/03/2018 a 15/03/2018</h3>
                <p>Sala 105 - Bloco B</p>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
    </ion-grid>
      
  </ion-content>
  