<ion-header>

  <ion-navbar>
    <ion-title>Senai 5s</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding style="background-color: #2c3e50">
  <ion-grid>
    <ion-row>
      <ion-col col-12 col-sm-6 class="evaluate-execution-container">
        <div *ngFor="let question of questions; let i = index">
          <div *ngIf="index == i">
            <h2 text-center style="color:white">{{i + 1 }} - {{question.title}}</h2>
            <ion-card>
              <ion-card-content>
                <form id="form-evalution-start">
                  <ion-list>
                    Escolha uma das opções abaixo:
                    <ion-row class="">
                      <ion-col col-06 push-1>
                        <ion-icon class="evaluate-execution-notes-icon md-thumbs-down" name="md-thumbs-down"
                          [style.color]="answers[i].status == false ? 'red' : 'DarkGray'" (click)="answers[i].status = false"></ion-icon>
                      </ion-col>
                      <ion-col col-06 push-1>
                        <ion-item>
                          <ion-icon class="evaluate-execution-notes-icon" name="md-thumbs-up" [style.color]="answers[i].status == true ? 'green' : 'DarkGray'"
                            (click)="answers[i].status = true"></ion-icon>
                        </ion-item>
                      </ion-col>
                    </ion-row>
                    <ion-item>
                      <textarea #myInput class="evaluate-execution-comments" name="comments" [(ngModel)]="answers[i].comments"
                        rows="3" maxLength="200" (keyup)="resize()" placeholder="Comentários"></textarea>
                    </ion-item>
                    <ion-row>
                      <div col-6>
                        <button *ngIf="index != 0" outline ion-button color="secondary" (click)="goPrevious(i-1)">
                          <ion-label>
                            Voltar
                          </ion-label>
                        </button>
                      </div>
                      <div col-6>
                        <button *ngIf="index != (questions.length -1)"  [disabled]="answers[i].status == null || answers[i].status == undefined"
                          ion-button color="secondary" (click)="goNext(i+1)" item-end>
                          <ion-label>
                            Próxima
                          </ion-label>
                        </button>
                        <button *ngIf="index === (questions.length -1)" [disabled]="!answers[i].comments && answers[i].status != true"
                          ion-button color="secondary" (click)="finishEvaluate()" item-end>
                          <ion-label>
                            Concluir
                          </ion-label>
                        </button>
                      </div>
                    </ion-row>

                  </ion-list>
                </form>
              </ion-card-content>
            </ion-card>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>