<ion-header>

  <ion-navbar>
    <ion-title>Senai 5s</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding style="background-color: #2c3e50">
  <ion-grid>
    <ion-row>
      <ion-col col-12 col-sm-6 class="evaluate-execution-container">
        <div>
          <h2 text-center style="color:white">Não conformidades</h2>
        </div>
        <ion-list>           
          <ion-item (click)="expandNonCompliance(i)"  *ngFor="let question of questionsResponsible; let i = index">    
            <h2>{{question.title}}</h2>
            <h3  *ngIf="i === index" style="color:red">{{question.comments}}</h3>
          </ion-item>
        </ion-list>
        <button  ion-button col-12  color="secondary" (click)="finishEvaluate()" >
          <ion-label>
            Finalizar
          </ion-label>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>